* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: 'Raleway', sans-serif;
}


:root {
  --dark: #6a747a;
  --purple: #8c52ff;
}

h1, h2, h3 {
  font-family: 'Maven Pro', sans-serif;
}

li {
  list-style: none;
}

/* Navbar */

/* .navbar {
  position: fixed;
  display: flex;
  height: 80%;
  width: 100px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 100;
  padding: 10px
} */

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 80%;
  /* background: rgba(0, 0, 0, 0.2); */
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.nav_timeline {
  flex: 1;
  /* background: red; */
  display: flex;
  justify-content: center;
}

.nav_timeline_line {
  width: 100%;
  height: 5px;
  background: var(--dark);
  /* background: rgb(21, 0, 39); */
  border-radius: 5px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background: whitesmoke; */
}

/* .nav_timeline_white {
  background: whitesmoke;
} */

.nav_timeline_line_inner {
  width: 80%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.nav_timeline_circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--purple);
  border: 4px solid whitesmoke;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_timeline_circle:hover {
  transform: scale(1.2);
}

.fa-home, .fa-user, .fa-envelope, .fa-project-diagram {
  color: whitesmoke;
  pointer-events: none;
}

.fa-project-diagram {
  margin-bottom: -2px;
}

.nav_scroller {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_scroller_inner {
  position: relative;
  width: 76%;
  height: 100%;
  display: flex;
  pointer-events: none;
  flex-direction: column-reverse;
  /* background: black; */
}

.nav_scroller_icon {
  position: absolute;
  transform: translateX(-50%);
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--purple);
  /* background: whitesmoke; */
}

.reverse_nav .nav_scroller_icon {
  background: whitesmoke;
}

.reverse_nav .nav_timeline_line {
  background: whitesmoke;
}

.reverse_nav .nav_timeline_circle {
  background: whitesmoke;
  border: 4px solid var(--purple);
}

.reverse_nav .nav_timeline_circle > i  {
  color: var(--purple);
}

/* Main Pages */

.main_container {
  width: 100vw;
  height: 100vh;
}

.line {
  width: 10px;
  position: absolute;
  left: 50%;
  top: 0;
  height: 0;
  border-radius: 0 0 5px 5px;
  z-index: 99;
  background: var(--purple);
  transition: width 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.outer_container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* background: whitesmoke; */
}

.inner_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: blue; */
  clip-path: circle(0px at 50% 100%);
  /* transition: clip-path 1.5s cubic-bezier(0.16, 1, 0.3, 1); */
  background: whitesmoke;
}

.content_container {
  /* height: 40%; */
  width: 70%;
  /* background: orange */
}

/* Home Page */

.home_title_name {
  font-size: 100px;
  font-family: 'Maven Pro', sans-serif;
  color: var(--dark);
  /* cursor: pointer; */
}

.home_title_job {
  margin-top: 40px;
  text-align: right;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
  /* cursor: pointer; */
}

/* .job_title_last, .first_name {
  color: var(--purple);
} */

.purple_span {
  color: var(--purple);
}

.reverse_home * {
  color: whitesmoke;
}

/* About Me */

.about_me * {
  color: whitesmoke;
}

.about_me_segment_container {
  display: flex;
  justify-content: space-between;
}

.about_me_about, .about_me_skills {
  width: 40%;
  padding: 10px 20px;
  /* height: 70%; */
  /* border: 2px solid #7543d8; */
  /* background: #7543d8; */
  background: whitesmoke;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* background: whitesmoke; */
}

.about_me_about {
  border-radius: 0px 10px 10px 0;
}

.about_me_about_header, .about_me_skills_header {
  padding: 30px 0;
  color: var(--purple);
}

.about_me_skills_header {
  margin-bottom: -18px
}

.about_me_about_header {
  text-align: center;
  font-size: 30px;
}

.about_me_about_content, .about_me_skills_content {
  padding: 0 20px 30px 20px;
}

.about_me_about_content {
  /* padding: 0 40px; */
  text-align: justify;
  flex: 3;
  color: var(--dark);
}

.about_me_about_content > p {
  color: inherit;
  font-size: 1.1em;
}


.about_me_skills {
  border-radius: 10px 0 0 10px;
}

.about_me_skills_header {
  text-align: center;
  font-size: 30px;
}

.about_me_skills_content {
  /* padding: 0 20px; */
  flex: 3;
  /* color: var(--dark); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_me_skills_content > div {
  width: 90px
}

.devicon > h4 {
  color: var(--dark);
}

[class*=" devicon-"], [class^=devicon-] {
  color: var(--purple);
}

.devicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.devicon_svg {
  font-size: 40px;
  margin: 0 15px;
}

/* .devicon > h4 {
  margin-top: 10px;
} */

.reverse_about_me > div > div {
  background: var(--purple);
}

.reverse_about_me > div > div * {
  color: whitesmoke;
}

/* Projects */

.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  align-content: space-evenly;
}

.project_card {
  display: flex;
  background: var(--purple);
  margin: 0px 20px;
  min-width: 40%;
  max-width: 40%;
  border-radius: 10px;
  transition: all 0.1s;
  cursor: pointer;
  text-decoration: none;
}

.project_card:hover {
  transform: scale(1.05);
}

.project_card * {
  color: whitesmoke;
}

.project_card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.project_card_content > h3 {
  text-align: center;
  margin: 10px 0;
}

.project_card_content > p {
  height: 100%;
  text-align: center;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.p_right {
  text-align: right;
}

.project_card:nth-of-type(2), .project_card:nth-of-type(4) {
  flex-direction: row-reverse;
}

.project_image {
  margin: 5px;
  max-width: 14vw;
  border-radius: 10px;
}

.reverse_projects .project_card {
  background: whitesmoke;
}

.reverse_projects .project_card h3 {
  color: var(--purple);
}

.reverse_projects .project_card p {
  color: var(--dark);
}

/* contact */

.contact_container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_header {
  margin-bottom: 20px;
  color: var(--purple);
}

.contact_container_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.contact_container a {
  color: var(--dark);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact_container li {
  margin: 5px 0;
  text-decoration: none;
  transition: all 0.1s;
}

.contact_page_icon {
  color: var(--purple);
  opacity: 0.5;
  font-size: 30px;
  margin-right: 10px;
  transition: all 0.1s;
}

.contact_container li:hover {
  transform: scale(1.1);
}

.contact_container li:hover .contact_page_icon {
  opacity: 1;
}

.reverse_contact * {
  color: whitesmoke;
}

.reverse_contact a {
  color: whitesmoke;
}

.reverse_contact .contact_container {
  background: var(--purple);
}

.reverse_contact .contact_page_icon {
  color: whitesmoke;
}

/*  */

.white_line {
  background: whitesmoke;
}

.line_animation_test {
  transition: height 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.purple_background {
  background: var(--purple);
  color: whitesmoke;
}

.page_open {
  transition: clip-path 1s cubic-bezier(0.16, 1, 0.3, 1);
  clip-path: circle(100% at 50% 50%);
}

/* .page_full_clip {
  transition: clip-path 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
} */


/* For just tablet */

@media (min-width: 768px) and (max-width: 1024px) {

  
}

/* For Tablet and modile */

@media screen and (max-width: 1024px) {

  .navbar {
    /* top: -50px; */
    transform: translate(-50%, -75%);
    background: rgba(0, 0, 0, 0.2);
    /* padding: 30px 0; */
    /* margin-right:-10px; */
    /* border-radius: 0 10px 10px 0; */
    /* margin-right: -10px; */
    transition: all 0.1s;
  }

  .navbar:hover, .navbar:active {
    transform: translate(-50%, -10%);
  }

  .nav_timeline {
    position: relative;
  }

  .nav_scroller {
    visibility: hidden;
  }

  .nav_timeline_line {
    background: whitesmoke;
  }

  .about_me_segment_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* border: 0px; */
  }

  .about_me_skills, .about_me_about {
    width: 100vw;
    background: whitesmoke;
    border-radius: 0px;
  }

  .about_me_about_content, .about_me_skills_content {
    padding: 0 40px 30px 40px;
  }

  .outer_container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    border-radius: 0px;
  }

  .inner_container {
    border-radius: 0px;
  }

  .nav_timeline_circle {
    border: 4px solid whitesmoke;
  }
  
}

/* Just mobile */

@media screen and (max-width: 480px) {
  
  .navbar {
    display: none;
  }

  /* .outer_container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    border-radius: 0px;
  } */

}