* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  --dark: #6a747a;
  --light: #e2eaf0;
  --darker: #3a3f42;
  --purple: #8c52ff;
}

h1, h2, h3 {
  font-family: 'Maven Pro', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: whitesmoke;
}

.project_card_title, .project_card_stack, .project_card_text, p, .devicon h4, .contact_header {
  pointer-events: none;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 50px;
}

.navbar_placeholder {
  width: 100%;
  height: 0px;
}

.navbar_inner {
  height: inherit;
  width: 100%;
  background: var(--darker);
  border-bottom: 3px solid var(--purple);
  position: relative;
  /* transition: all 0.2s; */
  display: flex;
  color: whitesmoke;
  /* transition: all 0.3s; */
  z-index: 10;
}

.navbar_inner a {
  margin-left: 50px;
}

.navbar_link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.1s;
  color: whitesmoke;
}

.navbar_link:hover {
  color: var(--purple);
}

.navbar_link_active {
  color: var(--purple);
}

/* Home */

.home {
  height: 60vh;
  position: relative;
}

.canvas_bg {
  pointer-events: all;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
}
  
.canvas_fg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  /* width: 100%;
  height: 100%; */
}

.home_container {
  /* pointer-events: none; */
  height: 100%;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purple_span {
  color: var(--purple);
}

.home_title_name, .home_title_job {
  margin: 0 200px;
  z-index: 2;
  pointer-events: none;
}

.home_title_name {
  font-size: 100px;
}

.home_title_job {
  font-size: 60px;
  align-self: flex-end;
  text-align: right;
}

/* Projects */

.projects {
  /* min-height: 100vh; */
  z-index: 2;
  position: relative;
  width: 100%;
  background: var(--darker);
  /* background: linear-gradient(180deg, rgba(245,245,245,1) 15%, var(--darker) 15%, var(--darker) 100%); */
  background: linear-gradient(180deg, rgba(0,0,0,0) 15%, var(--darker) 15%, var(--darker) 100%);
  /* background: linear-gradient(180deg, rgba(245,245,245,1) 15%, var(--purple) 15%, var(--purple) 100%); */
  border-top: 90px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-bottom: 90px solid var(--darker);
  /* border-bottom: 90px solid var(--purple); */
}

.projects_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  /* justify-content: center;
  flex-wrap: wrap; */
}

.project_card {
  position: relative;
  width: 450px;
  height: 350px;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}

.project_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: whitesmoke;
  opacity: 0;
  transition: all 0.3s;
}

.project_contents {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  transition: all 0.3s;
  margin: 0 auto;
  padding: 0 40px;
}

.project_card_title {
  margin: 30px 0;
  color: var(--purple);
}

.project_card_stack {
  margin-bottom: 20px;
  color: var(--dark);
}

.project_card_text {
  color: var(--darker);
  margin-bottom: 20px;
}

.project_card_links {
  display: flex;
  justify-content: center;
}

.project_card_links a {
  margin: 0 30px;
  transition: all 0.1s;
}

.project_card_links i {
  font-size: 40px;
  color: var(--purple);
}

.project_card_links a:hover {
  transform: scale(1.2);
}


.project_card:hover {
  z-index: 1;
  transform: scale(1.1);
}


.project_card:hover .project_card_overlay {
  opacity: 0.9;
}

.project_card:hover .project_contents {
  opacity: 1;
}

.asteroid_catasteroid {
  background-image: url(./assets/asteroid.png);
}

.beehive {
  background-image: url(./assets/straight_beehive.jpg);
}

.games_portal {
  background-image: url(./assets/home_screen.png);
}

.kaku {
  background-image: url(./assets/side_kaku.jpg);
}

/* About me */

.about_me {
  border-top: 3px solid var(--purple);
  padding-top: 60px;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_me_inner {
  display: flex;
  width: 60%;
  align-items: center;
}

.about_toggle_container {
  /* background: var(--light); */
  /* padding: 0 10px; */
  min-width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s;
  /* align-items: center; */
}

.about_toggle {
  height: 100%;
  width: 100%;
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s;
}

.about_toggle * {
  pointer-events: none;
}

.about_toggle:hover {
  background: whitesmoke;
}

.about_toggle_on {
  background: whitesmoke;
  color: var(--purple);
}


.about_content {
  padding: 20px 30px;
  min-height: 250px;
  max-width: 600px;
  /* background: var(--dark); */
  background: whitesmoke;
}

.about_content_inner {
  display: none;
}

.about_content p {
  text-align: justify;
  font-size: 1.1em;
  color: var(--dark);
  line-height: 1.5;
}

.about_skills {
  display: block;
}

.about_me_skills_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.devicon {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 10px;
  color: var(--dark);
}

.devicon i {
  font-size: 40px;
  color: var(--purple);
  margin-bottom: 10px;
}

/* Contact */

.contact {
  background: white;
  display: flex;
  justify-content: center;
  /* padding-bottom: 90px; */
}

.contact_container {
  margin: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  width: 35vw;
  height: 35vw;
  min-width: 340px;
  min-height: 340px;
  border-radius: 50%;
}

.contact_header {
  color: var(--purple);
  margin-bottom: 20px;
}

.contact_container li {
  margin: 5px 0;
}


.contact_container a {
  font-size: 16px;
  color: var(--dark);
  display: flex;
  align-items: center;
  transition: all 0.1s;
}

.contact_container a:hover {
  transform: scale(1.1);
}

.contact_container a:hover .contact_page_icon {
  opacity: 1;
}

.contact_page_icon {
  font-size: 30px;
  color: var(--purple);
  opacity: 0.5;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  
  .project_card:hover .project_card:active {
    z-index: 1;
    transform: scale(1.1);
  }

  .project_card:hover .project_card:active .project_card_overlay {
    opacity: 0.9;
  }
  
  .project_card:hover .project_card:active .project_contents {
    opacity: 1;
  }
  
}

@media screen and (max-width: 910px) {

  .home_title_name, .home_title_job {
    margin: 0 50px;
  }
  
  .projects_container {
    grid-template-columns: auto;
  }

  .project_card {
    height: 60vw;
    width: 70vw;
  }

}

@media screen and (max-width: 767px) {

  .home_title_name {
    font-size: 60px;
  }

  .home_title_job {
    font-size: 40px;
  }
  
}

@media screen and (max-width: 480px) {

  .navbar_inner {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar_inner a {
    margin: 0;
  }

  .project_card {
    height: 75vw;
    width: 95vw;
  }
  
}

@media screen and (max-width: 370px) {

  .project_card_title {
    font-size: 20px;
  }

  .project_card_stack, .project_card_text {
    font-size: 13px;
  }
  
}